<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hamster Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E08F17C91EF1623C00590B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E08F17E21EF1623C00590B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E08F17ED1EF1623C00590B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
